<div class="m3">
  <mat-card>
    <mat-card-title>
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="back()" data-testid="back-button">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1 data-testid="user-info-title">User information</h1>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div *ngIf="user" fxLayout="column" fxLayoutAlign="start center" data-testid="user-info-area">
        <p data-testid="user-names">Name: {{ user.firstName }} {{ user.lastName | uppercase }}</p>
        <p data-testid="user-email">Email: {{ user.email }}</p>
        <p *ngIf="user.admin" class="my2" data-testid="admin-status">You are admin</p>
        <div *ngIf="!user.admin" fxLayout="column" class="my2" fxLayoutAlign="center center" data-testid="not-admin-status">
          <p data-testid="delete-account-label">Delete my account:</p>
          <button mat-raised-button color="warn" (click)="delete()" data-testid="delete-account-button">
            <mat-icon>delete</mat-icon>
            <span class="ml1">Delete</span>
          </button>
        </div>
        <div fxLayoutAlign="space-between center" class="p2 w100">

          <p data-testid="user-created-at"><i>Create at: </i> {{ user.createdAt | date: 'longDate'}}</p>
          <p data-testid="user-updated-at"><i>Last update: </i> {{ user.updatedAt| date: 'longDate'}}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
